@{
    ViewData["Title"] = "Home Page";
}

<header class="jumbotron">

    <h1>Zeeshan Akhlaq - ePortfolio</h1>
    <h2>Background, Context and Intensions</h2>

</header>

<main class="row">
    <section class="col-lg-4">


        <h2>Background</h2>
        <p>
            <a href="https://placeholder.com"><img src = "https://via.placeholder.com/150"></a>
        </p>
        <p>
            
        </p>

    </section>
    <section class="col-lg-4">
        <h2>Context</h2>
        <p>
            <a href="https://placeholder.com"><img src="https://via.placeholder.com/150"></a>
        </p>
    </section>
    <section class="col-lg-4">
        <h2>Intentions</h2>
        <p>
            <a href="https://placeholder.com"><img src="https://via.placeholder.com/150"></a>
        </p>
    </section>
</main>